swagger: "2.0"
info:
  title: Reports service API
  description: This service contains the API for creating reports
  version: 1.0.0
host: api.reports.talentsuite.uk
schemes:
  - https
paths:
  /health:
    get:
      summary: Health endpoint which tests all integrations for connectivity.
      produces:
        - application/json
      responses:
        200:
          description: Information json returned
          schema:
            type: array
            items:
              $ref: "#/definitions/health"
      
  /info:
    get:
      summary: information endpoint.
      produces:
        - application/json
      responses:
        200:
          description: Information json returned
          schema:
            $ref: "#/definitions/info"

  /readiness:
    get:
      summary: Returns whether the service is ready
      produces:
        - application/json
      responses:
        200:
          description: OK

  /reports/{id}:
    get:
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The report to create.
          type: string
          required: true
      responses:
        404:
          description: The report is not found
        200:
          description: OK
          schema:
            $ref: "#/definitions/reportResponse"
    put:
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: The report to create.
          schema:
            $ref: "#/definitions/reportResponse"
        - in: path
          name: id
          description: The id of the report to update
          type: string
          required: true
      responses:
        404:
          description: The report is not found
        200:
          description: Updated
          headers:
            location:
              description: location of the resource created
              type: string
              format: uri
        400:
          description: The report is already submitted
    delete:
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The id of the report to update
          type: string
          required: true
      responses:
        404:
          description: The report is not found
        200:
          description: Deleted
  
  /reports:
    get:
      summary: Return a paged view of reports in normalised form
      produces:
        - application/json
      parameters:
        - in: query
          type: number
          name: page
          description: "page to get"
          required: false
          default: 1
        - in: query
          type: number
          name: pageSize
          description: "pagesize to return"
          required: false
        - in: query
          type: string
          name: userId
          description: "user to filter on"
          required: false
        - in: query
          type: string
          name: projectId
          description: "project to filter on"
          required: false

      responses:
        200:
          description: OK
          schema:
            "$ref": "#/definitions/reportListResponse"
    post:
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: The report to create.
          schema:
            $ref: "#/definitions/reportRequest"
      responses:
        201:
          description: Created
          headers:
            location:
              description: location of the resource created
              type: string
              format: uri

definitions:
  info:
    type: object
    properties: 
      version:
        type: string
      service-name:
        type: string
      events-published:
        type: array
        items: 
          type: string
      events-consumed:
        type: array
        items: 
          type: string
      integrations:
        description: the service names we are reliant on
        type: array
        items:
          type: object
          properties: 
            type:
              type: string
              enum: [db, service, messaging]
            name:
              type: string
  
  health:
    type: object
    properties: 
      name: 
        type: string
      healthy:
        type: boolean

  reportListResponse:
    type: object
    properties: 
      pageDetail:
        $ref: "#/definitions/pageInfo"
      reports:
        type: array
        items:
          $ref: "#/definitions/reportResponse"

  reportRequest:
    type: object
    properties: 
      clientId:
        type: string
      projectId:
        type: string
      sowId:
        type: string
      completed:
        type: string
      planned:
        type: string      
      risks:
        type: array
        items:
          $ref: "#/definitions/risk"
      status:
        $ref: "#/definitions/reportStatus"

  reportResponse:
      allOf:
        - $ref: "#/definitions/reportRequest"
      properties: 
        id:
          type: string
      
  risk:
    type: object
    properties: 
      id:
        type: string
      description:
        type: string
      mitigation:
        type: string
      status:
        type: string
        enum:
        - R
        - A
        - G

  pageInfo:
    type: object
    properties: 
      totalCount:
        type: number
      page: 
        type: number
      pageSize: 
        type: number
      first:
        type: boolean
      last:
        type: boolean

  reportStatus:
    type: string
    enum:
      - saved
      - submitted
      - retracted